<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Matchday Messiah | {{ title }}</title>
		<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/css/master.css">
		<link rel="stylesheet" media="(max-width: 599px)" href="/css/min.css">
		<link rel="stylesheet" media="(min-width: 600px)" href="/css/max.css">
	</head>
	<body>
		<div class="main">
			<nav>
				<div class="icon">
					<a href="/"><i class="fas fa-futbol"></i>Matchday Messiah</a>
				</div>
			</nav>
			{% include partial %}			
		</div>
	</body>
	<script src="/js/index.js"></script>
</html>
